/* import font "rubik" */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* font-family: "Rubik", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Libre Franklin", sans-serif; */
/* --------- */

/* global stiles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Rubik", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/*! header styles  */

.header_cont {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 24px;
}
.logo {
  width: 100px;
}
.nav_item {
  padding: 5px 15px;
  margin: 10px;

  border-radius: 10px;
  transition: 0.3s;
}
.nav_item:hover {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.163);
}
.header_cart {
  padding: 10px;
  border-radius: 10px;
  border: solid 1px black;
  text-align: center;
  align-items: center;
  transition: 0.3s;
}
.header_cart:hover {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.163);
}
.cart_img {
  width: 20px;
  margin-left: 5px;
  transition: 0.3s;
}
.line {
  width: 100%;
  height: 1px;
  background-color: black;
}

/*! main slider stles */

.slider_container {
  display: flex;
  gap: 100px;
  /* justify-content: space-between; */
}
.slider,
.slide {
  border-radius: 10px;
  height: 70vh;
  max-width: 92vw;
}
.slider_titile {
  font-size: 100px;
  font-weight: 300;
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: 20px;
}
.slider_text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.6;
}
/*! card styles */

.shop_conteiner {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  padding: 20px;
  border: solid 1px black;
  border-radius: 10px;
  width: 360px;
  display: flex;
  gap: 10px;
}
.card_img {
  object-fit: cover;
  max-width: 150px;
  /* height: 150px; */
  border-radius: 4px;
}
.card_footer {
  display: flex;
  justify-content: space-between;
}
.card_cart {
  width: 20px;
}

.card_line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 10px 0;
}
.card_plus {
  display: flex;
  text-align: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px black;
}
.card_plus:hover {
  background-color: greenyellow;
}
.card_content {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_footer {
  margin-top: 10px;
  text-align: center;
  align-items: center;
}
.price {
  font-size: 20px;
}

/* footer stiles */

.footer_text {
  margin: 5px;
  font-size: 16px;
}

/* blog page styles */
.blog_pdf {
  width: 100%;
  height: 65vh;
}
/*! Adaptive */

@media (min-width: 320px) and (max-width: 1024px) {
  .slider_container {
    display: flex;
    gap: 100px;
    flex-direction: column-reverse;
  }
}
